<div class='card indigo text-white'>
  <div class='card-body'>
    <%= render 'navbarback' %>
    <h2 class='font-up font-bold py-4 text-white'>
      Edit Client
    </h2>
    <%= render 'form', admin_client: @admin_client %>
  </div>
</div>
