<%= render 'navbarback' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>
      Edit Time Log
    </h2>
    <%= render 'form', time_log: @time_log %>
  </div>
</div>
