<h1>Edit Client</h1>

<%= render 'form', manager_client: @manager_client %>

<%= link_to 'Show', @manager_client, class: 'btn btn-primary' %> |
<%= link_to 'Back', manager_clients_path, class: 'btn btn-primary' %>
