<%= render 'navbarback' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>
      New Client
    </h2>
    <%= render 'form', manager_client: @manager_client %>
  </div>
</div>
