<%= render 'shared/navbar' %>
<div class='card indigo text-white'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>
      <p>
        <strong>Name:</strong>
        <%= @manager_client.name %>
      </p>

      <p>
        <strong>Affiliation:</strong>
        <%= @manager_client.affiliation %>
      </p>
    </h2>
    <%= render partial: 'shared/client_projects' %>
  </div>
</div>
