<%= render 'shared/navbar' %>
<h1><%= current_user.name %></h1>
<div class='clearfix'></div>

<%= image_tag image_url_validate(current_user.image_url.to_s), class: 'img-thumbnail' %>
<div class='clearfix'></div>

<p> E-mail: <%= current_user.email %></p>
<div class='clearfix'></div>
