<%= render 'shared/navbar' %>

<div class='card indigo'>
  <%= image_tag image_url_validate(current_user.image_url.to_s),
    class: 'img-thumbnail' %>
  <div class='card-body'>
    <h4 class='card-title text-white'><%= current_user.name %></h4>
    <p class='card-text text-white'><small><%= current_user.email %></small></p>
  </div>
</div>
