<%= render 'shared/navbar' %>
<h1><%= current_user.name %></h1>
<div class='clearfix'></div>

<% if current_user.image.present? %>
  <%= image_tag current_user.image_url, class: 'img-thumbnail' %>
  <div class='clearfix'></div>
<% end %>

<p> E-mail: <%= current_user.email %></p>
<div class='clearfix'></div>
