<nav class="navbar navbar-expand-sm indigo navbar-dark fixed-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="<%= url_for decide_client_path  %>"> Back </a>
    </li>
  </ul>
</nav>
