<%= render 'shared/navbar' %>

<div class='card indigo'>
  <div class='card-body'>
    <h2 class='font-up font-bold py-4 text-white'>
      Edit Project
    </h2>
    <%= render 'form', project: @project %>
  </div>
</div>
