@import 'bootstrap';
@import 'font-awesome';

.img-thumbnail {
  width:200px;
  height: 275px;
}

.card {
  border-radius: 5px;
  margin-bottom: 20px;
}

.custom-button-size {
  width: 100px;
}

.btn-outline-white {
  background-color: #215C9E;
}

.btn-outline-white:hover {
  background-color: #194577;
}

.card-size {
  max-width: 200px;
  max-height: 500px;
}

.light-indigo {
  background-color: #F2CDFF;
}

body {
  margin-top:5%;
  height:100%;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
