<div class='text-center'>
  <h2 class='font-up font-bold py-4'>Error 404. No such page.</h2>
  <p>The page you have requested is either removed or permanently deleted</p>
  <%= link_to 'Go Back?', user_signed_in? ? home_path : root_path, class: 'btn btn-outline-white waves-effect waves-light' %>
</div>
